*{
    padding: 0px;
    margin: 0px;
}

body{
    background-color:  #8c8c8c;
}

form{
    width: 85%;
    background-color: #445565;
    font-size: 1.1em;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.containerPrincipal{
    width: 70%;
    background-color: #effdfc;
}

#titre{
    width: 100%;
    height: 50px;
    background-color: #0b4d81;
    padding-left: 20px;
}

fieldset{
    width: 40%;
}

#block_Btn_Radio{
    display: flex;
    flex-direction: column;
}
#block_Btn_Radio:nth-child(){
    display: flex;
    flex-direction: row;
}
.headerForm{
    width: 100%;
    height: 50px;
    background-color: #0b4d81;
    color: #ebebeb;
}

.headerForm h1{
    padding-left:20px;
}

.footerForm{
    width: 100%;
    height: 50px;
    background-color:#0b4d81;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #ebebeb;
}

.blockBtnSubmit{
    margin-right: 20px;
}
